User=
ExecStart={ path=/usr/local/bin/nightly ; argv[]=/usr/local/bin/nightly --once ; ignore_errors=no ; start_time=[n/a] ; stop_time=[n/a] ; pid=0 ; code=(null) ; status=0/0 }
